
@{
    ViewBag.Title = "New";
}

<p><a href="/Food/List">Go back to list</a></p>
<br />
<h2>Add Food Item</h2>
<form action="/Food/Create" method="POST" style=" border: 1px solid #000; padding: 1em; margin: 1em;">
    <div>
        <label>Food Name:</label> <input type="text" name="ItemName" />
    </div>
    <div>
        <label>Food Type:</label>
        <select name="Foodtype">
            <option value="Dessert">Dessert</option>
            <option value="Main Course">Main Course</option>
        </select>
    </div>
    <label>Is the item Vegetarian or Meat?</label>
    <select name="Vegetarian">
        <option value="Vegetarian">Vegetarian</option>
        <option value="Meat">Meat</option>
    </select>
    <div>
        <input type="submit" value="Add Food" style="background: #0066A2; color: white; border-style: outset; border-color: #0066A2; padding: 0.2em 0.5em; margin-top:1em " />
    </div>
</form>

