@model PassionProject_TiffinSystem.Models.ScheduleDto
@{
    ViewBag.Title = "Edit";
}

<p><a href="/Schedule/List">Go back to list</a></p>
<br/>
<h2>Update Schedule</h2>
<form action="/Schedule/Update/@Model.ScheduleID" method="POST" style=" border: 1px solid #000; padding: 1em; margin-top: 1em;">
    <div>
        <label>Start Date:</label> <input type="date" name="StartDate" value="@Model.StartDate" />
    </div>
    <div>
        <label>End Date:</label> <input type="date" name="EndDate" value="@Model.EndDate" />
    </div>

    <div>
        <input type="submit" value="Update Schedule" style="background: #0066A2; color: white; border-style: outset; border-color: #0066A2; padding: 0.2em 0.5em; margin-top:1em " />
    </div>
</form>
